data "google_project" "project" {
  provider = google-beta
}

resource "google_vertex_ai_semantic_governance_policy_engine" "{{$.PrimaryResourceId}}" {
  region   = "us-central1"
  provider = google-beta

  gateway_config {
    name       = "primary"
    network    = "projects/${data.google_project.project.project_id}/global/networks/default"
    subnetwork = "projects/${data.google_project.project.project_id}/regions/us-central1/subnetworks/default"
  }

  gateway_config {
    name       = "secondary"
    network    = "projects/${data.google_project.project.project_id}/global/networks/default"
    subnetwork = "projects/${data.google_project.project.project_id}/regions/us-central1/subnetworks/default"
  }
}
